<%= form_with(model: [:admin, location], id: 'location_form', local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h5>
      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: 'location_name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :precision %>
    <%= form.select :precision, Location::PRECISION_VALUES, { include_blank: 'Select a precision' }, { id: 'location_precision', class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :camp_site_identifier, "Camp Site ID" %>
    <%= form.text_field :camp_site_identifier, id: 'location_camp_site_identifier', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :lat, "Latitude" %>
    <%= form.number_field :lat, id: 'location_lat', class: 'form-control', step: :any %>
  </div>

  <div class="form-group">
    <%= form.label :lng, "Longitude" %>
    <%= form.number_field :lng, id: 'location_lng', class: 'form-control', step: :any %>
  </div>

  <%# Add other fields for your Location model attributes here, ensuring they have unique IDs if targeted by JS %>
  <%# Example: %>
  <%# <div class="form-group"> %>
  <%#   <%= form.label :some_other_attribute %>
  <%#   <%= form.text_field :some_other_attribute, id: 'location_some_other_attribute', class: 'form-control' %>
  <%# </div> %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%# The Cancel button is added dynamically by JS in index.html.erb %>
  </div>
<% end %> 