<div class="row">
  <div class="col-md-12">
    <h3>
      Edit Location: <%= @location.name %>
      <% if @location.archived %>
        <span class="badge bg-secondary align-middle">Archived</span>
      <% end %>
    </h3>
    <p><%= link_to 'Back to Locations', admin_locations_path, class: 'btn btn-outline-secondary btn-sm' %></p>

    <div class="card mb-3">
      <div class="card-body">
        <%= render 'form', location: @location %>
      </div>
    </div>

    <h4>Events at this Location</h4>
    <%= render 'admin/events_table',
               events:        @current_events,
               empty_message: 'No events are currently associated with this location.' %>

    <h4 class="mt-4">Past Events</h4>
    <%= render 'admin/events_table',
               events:        @past_events,
               empty_message: 'No past events for this location.',
               show_year:     true %>
  </div>
</div>
