<%= form_with(model: [:admin, department], id: 'department_form', local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h5>
      <ul>
        <% department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, id: 'department_name', class: 'form-control' %>
  </div>

  <div class="mb-3 form-check">
    <%= form.check_box :archived, id: 'department_archived', class: 'form-check-input' %>
    <%= form.label :archived, 'Archived', for: 'department_archived', class: 'form-check-label' %>
    <small class="form-text text-muted d-block">Setting this flag removes the record from the autocomplete and other interfaces where participants interact.</small>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <% if local_assigns[:merge_path].present? %>
      <%= link_to "Merge and Remove Department", local_assigns[:merge_path], class: 'btn btn-light text-secondary ms-2' %>
    <% end %>
  </div>
<% end %> 