<%= form_with(model: [:admin, department], id: 'department_form', local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h5>
      <ul>
        <% department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: 'department_name', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%# Cancel button will be added by JS in index.html.erb %>
  </div>
<% end %> 