<div class="row">
  <div class="col-md-12">
    <h3><%= @department.name %></h3>
    <p><%= link_to 'Back to Departments', admin_departments_path, class: 'btn btn-outline-secondary btn-sm' %></p>

    <% if @department.location.present? %>
      <h4>Location</h4>
      <div class="card mb-3">
        <div class="card-body">
          <p><strong>Name:</strong> <%= @department.location.name %></p>
          <p><strong>Address:</strong> <%= @department.location.address %></p>
        </div>
      </div>
    <% end %>

    <h4>Events in this Department</h4>
    <%= render 'admin/events_table',
               events:        @current_events,
               empty_message: 'No events are currently associated with this department.' %>

    <h4 class="mt-4">Past Events</h4>
    <%= render 'admin/events_table',
               events:        @past_events,
               empty_message: 'No past events for this department.',
               show_year:     true %>
  </div>
</div>
