<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-12 col-sm-12">
    <div class="well"> 

      <%= form_for @event, class: "form-inline" do |f| %>
        <h4>Edit This Event</h4>

        <label for="event_title">What:</label>
        <div class="form-group" >
          <%= f.text_field :title, class: "form-control", placeholder: "Title of the event" %>
          <p class="help-block">What the event will go by in the WWW guide</p>
        </div>

        <label for="event_hosting_location">Where:</label>
        <div class="form-group" >
          <%= f.text_field :hosting_location, class: "form-control", placeholder: "Name of Hosting location" %>
          <p class="help-block">Theme Camp, Event, or Art Installation</p>
        </div>

        <label for="event_main_contact_person">Contact Person:</label>
        <div class="form-group" >
          <%= f.text_field :main_contact_person, class: "form-control", placeholder: "Name of Main Contact Person" %>
          <p class="help-block">First and Last</p>
        </div>
        <div class="form-group" >
          <%= f.text_field :contact_person_email, class: "form-control", placeholder: "Email" %>
          <p class="help-block">Email</p>
        </div>

        <label for="event_event_recurrence">When:</label>
        <div class="form-group" >
          <p class="help-block">Does this event happen on multiple occasions or dates? or happen only once?</p>
          <div class="radio">
            <label>
              <%= f.radio_button :event_recurrence, "single" %>
              This event happens once
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :event_recurrence, "multiple" %>
              This event happens multiple times
            </label>
          </div>
        </div>

        <div id="single_occurrance_event" class="form-group event_time_inputs" style="display:none;">
          <%= f.fields_for :single_event_time do |event_time_form| %>
            <div class="form-inline">
              <%= event_time_form.select  :day_of_week, 
                                          days_of_week_select_options, 
                                          {:selected => event_time_form.object.day_of_week},
                                          {:class => "form-control day_of_week_input"} %>

              <!-- render these nicely so jquery can pick them up -->
              <%= event_time_form.text_field  :starting, 
                                              class: "form-control time start", 
                                              placeholder: "Starting time", 
                                              date_pair_value: event_time_form.object.start_time,
                                              value: event_time_form.object.start_time %>
              <%= event_time_form.text_field  :ending, 
                                              class: "form-control time end", 
                                              placeholder: "Ending time",
                                              date_pair_value: event_time_form.object.end_time,
                                              value: event_time_form.object.end_time %>
            </div>
          <% end %>
        </div>

        <div class="form-group" id="multiple_occurrance_event" style="display:none;">

          <%= f.fields_for :event_times, @event.event_times.sort_by(&:day_of_event_index) do |event_time_form| %>
            <% event_time = event_time_form.object %>
            <div class="row event_time_inputs">
              <div class="col-xs-4">
                <label for="event_<%= event_time.day_of_week.downcase %>_start_time">
                  <%= lakes_of_fire_date(event_time.day_of_week).strftime("%A - %-m/%-d") %>
                  <%= event_time_form.hidden_field :day_of_week, class: "day_of_week_input" %>
                </label>
              </div>
              <div class="col-xs-4">
                <%= event_time_form.text_field  :starting, 
                                                class: "form-control time start #{event_time_form.object.day_of_week.downcase}",
                                                placeholder: "Starting time",
                                                date_pair_value: event_time_form.object.start_time,
                                                value: event_time_form.object.start_time %>
              </div>
              <div class="col-xs-4">
                <%= event_time_form.text_field  :ending, 
                                                class: "form-control time end #{event_time_form.object.day_of_week.downcase}",
                                                placeholder: "Ending time",
                                                date_pair_value: event_time_form.object.end_time,
                                                value: event_time_form.object.end_time %>
              </div>
            </div>
          <% end %>

        </div>


        <label for="event_event_description">What:</label>
        <div class="form-group" >
          <%= f.text_area :event_description, class: "form-control", placeholder: "Description" %>
          <p class="help-block">Brief description of the event, workshop, or performance. 50 words or less</p>
        </div>

        <%= submit_tag "Update", :class=>"btn btn-success" %>
        <%= link_to 'Cancel', :back, style: "color: #999; margin-left: 10px;" %>
        <%= link_to "Remove", @event, method: :delete, style: "color: #999; margin-left: 10px;", data: { confirm: "Are you sure you want to remove this event?"} %>

      <% end %>

    </div>
  </div>
</div>