<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-12 col-sm-12">
    <div class="well"> 

      <%= form_for @event, class: "form-inline" do |f| %>
        <h4>Edit This Event</h4>

        <%= render 'event_form', f: f %>

        <%= submit_tag "Update", :class=>"btn btn-success" %>
        <%= link_to 'Cancel', :back, style: "color: #999; margin-left: 10px;" %>
        <%= link_to "Remove", @event, method: :delete, style: "color: #999; margin-left: 10px;", data: { confirm: "Are you sure you want to remove this event?"} %>

      <% end %>

    </div>
  </div>
</div>