<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Lakes of Fire <%= t(:year) %> What Where When!</h4>
        <p>This guide is a volunteer project organized by the Info-Bot team. Submit your events below to be included in the printed WhatWhereWhen guide that will be handed out at the gate at Lakes of Fire! They will also be included in any mobile or web-apps about Lakes of Fire events. We reserve the right to make changes for clarity.</p>
        <p>Please use the <a href="/events.xml">XML feed</a> of this event guide for good! Contact Info-Bot at info-bot@lakesoffire.org with any questions or software bugs.</p>
        <p>Along with submitting an event, you can edit your event. Just remember to log in with the same account you used to create it. Events will no longer be editable once we send the guide to the printer.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><%= t(:event_name).upcase %> Event Requirements</h4>
        <p>Like <%= link_to "Lakes of Fire", "http://www.lakesoffire.org/blog/lof15-ticketing-procedures-gate-hours-gifting", target: "blank" %> itself, events in the What Where When guide must</p>
        <ul>
          <li>Start after Lakes of Fire starts at <%= event_requirements_start_time %></li>
          <li>End before Lakes of Fire ends at <%= event_requirements_end_time %></li>
        </ul>
        <p>Please note, all fields are required, but your contact information will only be used if we have questions about your submitted event.</p>
      </div>
    </div>
  </div>
</div> <!-- /row -->

<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="well">

      <% if @event %>
        <%= form_for @event, class: "form-inline" do |f| %>
          <h4>Add an Event</h4>
          <p>Please use discretion in describing your event and do not reference specific sexual acts or illegal activities. Lakes of Fire is a part of the larger community in which we do our thing and we will not publish events in the WWW that could negatively impact our relationship with the larger community, and in turn our future events.</p>

          <%= render 'event_form', f: f %>

          <%= submit_tag "Add", :class=>"btn btn-success" %>
        <% end %>
      <% else %>
        Event submissions are closed!
      <% end %>

    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <% current_day = nil %>
      <div class="panel-body">
        <a href="/events.xml" class="pull-right">XML</a>
        <h4><%= t(:year) %> Submitted Events</h4>

        <div class="row">
          <div class='col-md-12'>
            <a href="#yours" class="btn btn-default btn-xs pull-right btn-your-events">Yours</a>
            <a href="#all" class="btn btn-default btn-xs pull-right btn-all-events">All</a>
          </div>
        </div>

        <% @events.each do |event| %>
          <% if current_day != event.current_event_time.starting.to_date %>
            <% current_day = event.current_event_time.starting.to_date %>
            <div class="row">
              <div class='col-md-12'>
                <h4><%= current_day.strftime("%A, %B #{current_day.day.ordinalize}") %></h4>
              </div>
            </div>
          <% end %>
          <div class="row event <%= event.user == current_user ? "your-event" : "not-your-event" %>">
            <div class='col-md-12 <%= "event-#{event.id}" %>'>
              <%= link_to event do
                    "#{event.title} - #{event.hosting_location} - #{event.current_event_time.starting.strftime("%l:%M %p")}".html_safe +
                    event_icons(event).html_safe
                  end
              %>
              <% if event_is_editable?(event, current_user) %>
                <small><%= link_to "edit", edit_event_path(event), class: 'text-muted', style: "margin-left: 5px;" %></small>
              <% end %>
              <% if event.current_event_time.all_day %>
                <small class="text-info pull-right" style="margin-left: 5px;">all day!</small>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
