<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Lakes of Fire 2015 What Where When!</h4>
        <p>This guide is a volunteer project organized by the Info-Bot team. Submit your events below and they will be included in the printed guide that will be handed out at the gate at Lakes of Fire! They will also be included in any mobile or web-apps about Lakes of Fire events!</p>
        <p>There's an XML feed for this guide! Grab it <a href="/events.xml">here</a> and use the data for good! Contact Info-Bot at info-bot@lakesoffire.org with any questions.</p>
        <p>When you submit an event on this page you can also edit the event as long as you are logged in with the same account. We will turn off event editing when the guide is sent to the printer.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>FABULOUS CONTRAPTION Event Data</h4>
        <p>
          Events in the What Where When guide are like <%= link_to "Lakes of Fire", "http://www.lakesoffire.org/blog/lof15-ticketing-procedures-gate-hours-gifting", target: "blank" %> as a whole, they
        </p>
        <ul>
          <li>Start after Lakes of Fire starts at noon on June 17th</li>
          <li>End before Lakes of Fire ends at 3PM on June 21st</li>
          <li>Have a title, a description, a hosting location, and a start and end time</li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /row -->

<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="well"> 

      <%= form_for @event, class: "form-inline" do |f| %>
        <h4>Add an Event</h4>

        <%= render 'event_form', f: f %>

        <%= submit_tag "Add", :class=>"btn btn-success" %>
      <% end %>

    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <% current_day = nil %>
      <div class="panel-body">
        <a href="/events.xml" class="pull-right">XML</a>
        <h4>2015 Submitted Events</h4>

        <div class="row">
          <div class='col-md-12'>
            <a href="#yours" class="btn btn-default btn-xs pull-right btn-your-events">Yours</a>
            <a href="#all" class="btn btn-default btn-xs pull-right btn-all-events">All</a>
          </div>
        </div>

        <% @events.each do |event| %>
          <% if current_day != event.current_event_time.starting.to_date %>
            <% current_day = event.current_event_time.starting.to_date %>
            <div class="row">
              <div class='col-md-12'>
                <h4><%= current_day.strftime("%A, %B #{current_day.day.ordinalize}") %></h4>
              </div>
            </div>
          <% end %>
          <div class="row <%= event.user == current_user ? "your-event" : "not-your-event" %>">
            <div class='col-md-12 <%= "event-#{event.id}" %>'>
              <%= link_to event do 
                    "#{event.title} - #{event.hosting_location} - #{event.current_event_time.starting.strftime("%l:%M %p")}"
                  end
              %>
              <% if event_is_editable?(event, current_user) %>
                <small><%= link_to "edit", edit_event_path(event), class: 'text-muted', style: "margin-left: 5px;" %></small>
              <% end %>
              <% if event.current_event_time.all_day %>
                <small class="text-info pull-right" style="margin-left: 5px;">all day!</small>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
