<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="well"> 

      <%= form_for @event, class: "form-inline" do |f| %>
        <h4>Add an Event</h4>

        <label for="event_title">What:</label>
        <div class="form-group" >
          <%= f.text_field :title, class: "form-control", placeholder: "Title of the event" %>
          <p class="help-block">What the event will go by in the WWW guide</p>
        </div>

        <label for="event_hosting_location">Where:</label>
        <div class="form-group" >
          <%= f.text_field :hosting_location, class: "form-control", placeholder: "Name of Hosting location" %>
          <p class="help-block">Theme Camp, Event, or Art Installation</p>
        </div>

        <label for="event_main_contact_person">Contact Person: <small style="color: #999;">(contact info won't be published)</small></label>
        <div class="form-group" >
          <%= f.text_field :main_contact_person, class: "form-control", placeholder: "Name of Main Contact Person" %>
        </div>
        <div class="form-group" >
          <%= f.text_field :contact_person_email, class: "form-control", placeholder: "Email" %>
          <p class="help-block">Email</p>
        </div>

        <label for="event_event_recurrence">When:</label>
        <div class="form-group" >
          <p class="help-block">Does this event happen on multiple occasions or dates? or happen only once?</p>
          <div class="radio">
            <label>
              <%= f.radio_button :event_recurrence, "single" %>
              This event happens once
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :event_recurrence, "multiple" %>
              This event happens multiple times
            </label>
          </div>
        </div>

        <div id="single_occurrance_event" class="form-group event_time_inputs" style="display:none;">
          <%= f.fields_for :single_event_time do |event_time_form| %>
            <div class="row">
              <div class="form-inline">
                <div class="col-xs-4">
                  <%= event_time_form.select  :day_of_week, 
                                              days_of_week_select_options, 
                                              {:selected => event_time_form.object.day_of_week},
                                              {:class => "form-control day_of_week_input"} %>
                </div>
                <!-- render these nicely so jquery can pick them up -->
                <div class="col-xs-4">
                  <%= event_time_form.text_field  :starting, 
                                                  class: "form-control time start", 
                                                  placeholder: "Starting time",
                                                  date_pair_value: event_time_form.object.start_time %>

                  <label style="margin-top: 4px;">
                    <input type="checkbox" class="all_day_event" value="value">
                    All Day
                  </label>
                </div>
                <div class="col-xs-4">
                  <%= event_time_form.text_field  :ending, 
                                                  class: "form-control time end", 
                                                    placeholder: "Ending time",
                                                    date_pair_value: event_time_form.object.end_time %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="" id="multiple_occurrance_event" style="display:none;">

          <%= f.fields_for :event_times, @event.event_times.sort_by(&:day_of_event_index) do |event_time_form| %>
            <% event_time = event_time_form.object %>
            <div class="row event_time_inputs form-group">
              <div class="col-xs-4">
                <label for="event_<%= event_time.day_of_week.downcase %>_start_time">
                  <%= lakes_of_fire_date(event_time.day_of_week).strftime("%A - %-m/%-d") %>
                  <%= event_time_form.hidden_field :day_of_week, class: "day_of_week_input" %>
                </label>
              </div>
              <div class="col-xs-4">
                <%= event_time_form.text_field  :starting, 
                                                class: "form-control time start #{event_time_form.object.day_of_week.downcase}", 
                                                placeholder: "Starting time",
                                                date_pair_value: event_time_form.object.start_time %>

                <label style="margin-top: 4px;">
                  <input type="checkbox" class="all_day_event" value="value">
                  All Day
                </label>

              </div>
              <div class="col-xs-4">
                <%= event_time_form.hidden_field :end_time %>
                <%= event_time_form.text_field  :ending, 
                                                class: "form-control time end #{event_time_form.object.day_of_week.downcase}", 
                                                placeholder: "Ending time",
                                                date_pair_value: event_time_form.object.end_time %>
              </div>
            </div>
          <% end %>

        </div>



        <label for="event_event_description">What:</label>
        <div class="form-group" >
          <%= f.text_area :event_description, class: "form-control", placeholder: "Description" %>
          <p class="help-block">Brief description of the event, workshop, or performance. 100 words or less</p>
        </div>

        <%= submit_tag "Add", :class=>"btn btn-success" %>
      <% end %>

    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <% current_day = nil %>
      <div class="panel-body">
        <a href="/events.xml" class="pull-right">XML</a>
        <h4>2015 Submitted Events</h4>

        <% @events.each do |event| %>
          <% if current_day != event.current_event_time.starting.to_date %>
            <% current_day = event.current_event_time.starting.to_date %>
            <div class="row">
              <div class='col-md-12'>
                <h4><%= current_day.strftime("%A, %B #{current_day.day.ordinalize}") %></h4>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class='col-md-12'>
              <%= link_to event do 
                    "#{event.title} - #{event.hosting_location} - #{event.current_event_time.starting.strftime("%l:%M %p")}"
                  end
              %>
              <% if event_is_editable?(event, current_user) %>
                <small><%= link_to "edit", edit_event_path(event), class: 'text-muted', style: "margin-left: 5px;" %></small>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
