<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="well"> 

      <%= form_for @event, class: "form-inline" do |f| %>
        <h4>Add an Event</h4>

        <%= render 'event_form', f: f %>

        <%= submit_tag "Add", :class=>"btn btn-success" %>
      <% end %>

    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <% current_day = nil %>
      <div class="panel-body">
        <a href="/events.xml" class="pull-right">XML</a>
        <h4>2015 Submitted Events</h4>

        <% @events.each do |event| %>
          <% if current_day != event.current_event_time.starting.to_date %>
            <% current_day = event.current_event_time.starting.to_date %>
            <div class="row">
              <div class='col-md-12'>
                <h4><%= current_day.strftime("%A, %B #{current_day.day.ordinalize}") %></h4>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class='col-md-12'>
              <%= link_to event do 
                    "#{event.title} - #{event.hosting_location} - #{event.current_event_time.starting.strftime("%l:%M %p")}"
                  end
              %>
              <% if event_is_editable?(event, current_user) %>
                <small><%= link_to "edit", edit_event_path(event), class: 'text-muted', style: "margin-left: 5px;" %></small>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
