<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="well"> 

      <%= form_for @event, class: "form-inline" do |f| %>
        <h4>Add an Event</h4>

        <label for="event_hosting_location">Where:</label>
        <div class="form-group" >
          <%= f.text_field :hosting_location, class: "form-control", placeholder: "Name of Hosting location" %>
          <p class="help-block">Theme Camp, Event, or Art Installation</p>
        </div>

        <label for="event_main_contact_person">Contact Person: <small style="color: #999;">(contact info won't be published)</small></label>
        <div class="form-group" >
          <%= f.text_field :main_contact_person, class: "form-control", placeholder: "Name of Main Contact Person" %>
        </div>
        <div class="form-group" >
          <%= f.text_field :contact_person_email, class: "form-control", placeholder: "Email" %>
          <p class="help-block">Email</p>
        </div>

        <label for="event_event_recurrence">When:</label>
        <div class="form-group" >
          <p class="help-block">Does this event happen on multiple occasions or dates? or happen only once?</p>
          <div class="radio">
            <label>
              <%= f.radio_button :event_recurrence, "single" %>
              This event happens once
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :event_recurrence, "multiple" %>
              This event happens multiple times
            </label>
          </div>
        </div>

        <div id="single_occurrance_event" class="form-group event_time_inputs" style="display:none;">
          <%= f.text_field :single_occurrence_start_date, class: "form-control date start", placeholder: "Date" %>
          <%= f.text_field :single_occurrence_start_time, class: "form-control time start", placeholder: "Starting time" %>
          <%= f.text_field :single_occurrence_end_time, class: "form-control time end", placeholder: "Ending time" %>
          <%= f.text_field :single_occurrence_end_date, class: "form-control date end", placeholder: "Ending date", style: "display: none;" %>
        </div>

        <div class="form-group" id="multiple_occurrance_event" style="display:none;">
          <div class="row event_time_inputs">
            <div class="col-xs-4">
              <label for="event_wednesday_start_time">Wednesday:</label>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :wednesday_start_date, class: "form-control date start", placeholder: "start Date", style: "display: none;" %>
              <%= f.text_field :wednesday_start_time, class: "form-control time start", placeholder: "Starting time" %>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :wednesday_end_time, class: "form-control time end", placeholder: "Ending time" %>
              <%= f.text_field :wednesday_end_date, class: "form-control date end", placeholder: "Ending date", style: "display: none;" %>
            </div>
          </div>
          <div class="row event_time_inputs">
            <div class="col-xs-4">
              <label for="event_thursday_start_time">Thursday:</label>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :thursday_start_date, class: "form-control date start", placeholder: "Date", style: "display: none;" %>
              <%= f.text_field :thursday_start_time, class: "form-control time start", placeholder: "Starting time" %>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :thursday_end_time, class: "form-control time end", placeholder: "Ending time" %>
              <%= f.text_field :thursday_end_date, class: "form-control date end", placeholder: "Ending date", style: "display: none;" %>
            </div>
          </div>
          <div class="row event_time_inputs">
            <div class="col-xs-4">
              <label for="event_friday_start_time">Friday:</label>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :friday_start_date, class: "form-control date start", placeholder: "Date", style: "display: none;" %>
              <%= f.text_field :friday_start_time, class: "form-control time start", placeholder: "Starting time" %>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :friday_end_time, class: "form-control time end", placeholder: "Ending time" %>
              <%= f.text_field :friday_end_date, class: "form-control date end", placeholder: "Ending date", style: "display: none;" %>
            </div>
          </div>
          <div class="row event_time_inputs">
            <div class="col-xs-4">
              <label for="event_saturday_start_time">Saturday:</label>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :saturday_start_date, class: "form-control date start", placeholder: "Date", style: "display: none;" %>
              <%= f.text_field :saturday_start_time, class: "form-control time start", placeholder: "Starting time" %>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :saturday_end_time, class: "form-control time end", placeholder: "Ending time" %>
              <%= f.text_field :saturday_end_date, class: "form-control date end", placeholder: "Ending date", style: "display: none;" %>
            </div>
          </div>
          <div class="row event_time_inputs">
            <div class="col-xs-4">
              <label for="event_sunday_start_time">Sunday:</label>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :sunday_start_date, class: "form-control date start", placeholder: "Date", style: "display: none;" %>
              <%= f.text_field :sunday_start_time, class: "form-control time start", placeholder: "Starting time" %>
            </div>
            <div class="col-xs-4">
              <%= f.text_field :sunday_end_time, class: "form-control time end", placeholder: "Ending time" %>
              <%= f.text_field :sunday_end_date, class: "form-control date end", placeholder: "Ending date", style: "display: none;" %>
            </div>
          </div>

        </div>


        <label for="event_event_description">What:</label>
        <div class="form-group" >
          <%= f.text_area :event_description, class: "form-control", placeholder: "Description" %>
          <p class="help-block">Brief description of the event, workshop, or performance. 50 words or less</p>
        </div>

        <%= submit_tag "Add", :class=>"btn btn-success" %>
      <% end %>

    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <% current_day = nil %>
      <div class="panel-body">
        <a href="/events.xml" class="pull-right">XML</a>
        <h4>2015 Submitted Events</h4>

        <% @events.each do |event| %>
          <% if current_day != event.current_event_time.starting.to_date %>
            <% current_day = event.current_event_time.starting.to_date %>
            <div class="row">
              <div class='col-md-12'>
                <h4><%= current_day.strftime("%A, %B #{current_day.day.ordinalize}") %></h4>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class='col-md-12'>
              <%= link_to "#{event.hosting_location} - #{event.current_event_time.starting.strftime("%l:%M %p")}", event %>
              <% if event_is_editable?(event, current_user) %>
                <%= link_to "edit", edit_event_path(event), class: 'pull-right', style: "margin-left: 5px;" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
