<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-12 col-sm-12">
    <div class="well"> 

      <label>Where:</label>
      <div class="form-group" >
        <%= @event.hosting_location %>
      </div>

      <label>Contact Person:</label>
      <div class="form-group" >
        <%= @event.main_contact_person %>
      </div>
      <div class="form-group" >
        <%= @event.contact_person_email %>
      </div>

      <label>Time:</label>
      <div class="form-group">
        <% @event.event_times.each do |time| %>
          <%= time.starting.strftime("%B %-d, %l:%M %p") %> to 
          <%= time.ending.strftime("%l:%M %p") %>
          <%= "(#{time.duration_human})"%> <br/>
        <% end %>
      </div>

      <label>What:</label>
      <div class="form-group" >
        <%= @event.event_description %>
      </div>

      <% if event_is_editable?(@event, current_user) %>
        <div class="form-group" >
          <%= link_to "edit", edit_event_path(@event) %>
        </div>
      <% end %>

    </div>
  </div>
</div>