<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-12 col-sm-12">
    <div class="well">

      <label>What:</label>
      <div class="mb-3" >
        <%= @event.title %>
      </div>

      <label>Where:</label>
      <div class="mb-3">
        <% if current_user&.admin? %>
          <% if @event.where_object.is_a?(Camp) %>
            <%= link_to @event.human_location, admin_camp_path(@event.where_object) %>
          <% elsif @event.where_object.is_a?(Location) %>
            <%= link_to @event.human_location, admin_locations_path %>
          <% else %>
            <%= @event.human_location %>
          <% end %>
        <% else %>
          <%= @event.human_location %>
        <% end %>
      </div>

      <label>Who:</label>
      <div class="mb-3">
        <% if current_user&.admin? %>
          <% if @event.who_object.is_a?(Camp) %>
            <%= link_to @event.human_who, admin_camp_path(@event.who_object) %>
          <% elsif @event.who_object.is_a?(Department) %>
            <%= link_to @event.human_who, admin_department_path(@event.who_object) %>
          <% else %>
            <%= @event.human_who %>
          <% end %>
        <% else %>
          <%= @event.human_who %>
        <% end %>
      </div>

      <% if user_owns_event(@event, current_user) || current_user.admin %>
        <label>Contact Person:</label>
        <small class="text-muted">(only visible to WWW team and event contact person)</small>
        <div class="mb-3" >
          <%= @event.main_contact_person %>
        </div>
        <div class="mb-3" >
          <%= @event.contact_person_email %>
        </div>
      <% end %>

      <label>When:</label>
      <div class="mb-3">
        <% @event.event_times.each do |time| %>
          <span class="<%= (current_user.heart_for?(time)) ? "hearted" : "not-hearted" %>">
            <a href="#_" class="heart-click" event-time-id="<%= time.id %>">
              &hearts;
            </a>
          </span>

          <%= time.starting.strftime("%A, %B %-d, %l:%M %p") %> to
          <%= time.ending.strftime("%l:%M %p") %>
          <%= "(#{time.duration_human})"%>
          <%= "<span class='text-success'>all day event</span>".html_safe if time.all_day %><br/>
        <% end %>
      </div>

      <label>Details:</label>
      <div class="mb-3" >
        <%= @event.event_description %>
      </div>

      <div class="mb-3">
        <% [@event.heart_count, 99].min.times do %>
          <span class="heart">&hearts;</span>
        <% end %>

        <% if @event.heart_count >= 30 %>
          (<%= @event.heart_count %>)
        <% end %>
      </div>

      <div class="mb-3" >
        <% @event.category_emojis.each do |category, emoji| %>
          <div class="category">
            <span class="mr-1"><%= emoji %></span>
            <%= category.to_s.humanize %>
          </div>
        <% end %>
      </div>

      <% if event_is_editable?(@event, current_user) %>
        <div class="mb-3" >
          <%= link_to "Edit", edit_event_path(@event), :class => "btn btn-success" %>
          <%= link_to 'Cancel', :back, style: "color: #999; margin-left: 10px;" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
