<%= render partial: "event_form_header" %>

<div class="row">

  <div class="col-md-12 col-sm-12">
    <div class="well">

      <label>What:</label>
      <div class="form-group" >
        <%= @event.title %>
      </div>

      <label>Where:</label>
      <div class="form-group" >
        <%= @event.human_location %>
      </div>
      <% if user_owns_event(@event, current_user) || current_user.admin %>
        <label>Contact Person:</label>
        <small class="text-muted">(only visible to WWW team and event contact person)</small>
        <div class="form-group" >
          <%= @event.main_contact_person %>
        </div>
        <div class="form-group" >
          <%= @event.contact_person_email %>
        </div>
      <% end %>

      <label>When:</label>
      <div class="form-group">
        <% @event.event_times.each do |time| %>
          <span class="<%= (current_user.heart_for?(time)) ? "hearted" : "not-hearted" %>">
            <a href="#_" class="heart-click" event-time-id="<%= time.id %>">
              &hearts;
            </a>
          </span>

          <%= time.starting.strftime("%A, %B %-d, %l:%M %p") %> to
          <%= time.ending.strftime("%l:%M %p") %>
          <%= "(#{time.duration_human})"%>
          <%= "<span class='text-success'>all day event</span>".html_safe if time.all_day %><br/>
        <% end %>
      </div>

      <label>Details:</label>
      <div class="form-group" >
        <%= @event.event_description %>
      </div>

      <div class="form-group">
        <% [@event.heart_count, 99].min.times do %>
          <span class="heart">&hearts;</span>
        <% end %>

        <% if @event.heart_count >= 30 %>
          (<%= @event.heart_count %>)
        <% end %>
      </div>

      <div class="form-group" >
        <%= event_categories(@event).html_safe %>
      </div>

      <% if event_is_editable?(@event, current_user) %>
        <div class="form-group" >
          <%= link_to "Edit", edit_event_path(@event), :class => "btn btn-success" %>
          <%= link_to 'Cancel', :back, style: "color: #999; margin-left: 10px;" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
