<% if flash[:notice].present? || flash[:error].present? %>
  <div class="row">
    <div class="col-md-12">
      <% if flash[:notice].present? %>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h3 style="border: 0;"><%= flash.notice %></h3>
        </div>
      <% end %>
      <% if flash[:error].present? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h3 style="border: 0;"><%= flash[:error] %></h3>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <% if current_user.admin %>
    <div class="col-sm-5 col-sm-push-7">
      <div id="edit-location-panel" class="panel panel-default" data-spy="affix" data-offset-top="200">
        <div class="panel-body">
          <h4>Update <span class="location-name">a Location</span></h4>
          <p class="opening-message">
            Click a location to edit.
          </p>

          <%= form_for :location, method: :put, html: {id: "edit-location", style: "display: none;"} do |f| %>
            <div class="form-group">
              <%= f.label :hosting_location, "Camp Name" %></br>
              <%= f.text_field :hosting_location, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :site_id, "Site ID" %></br>
              <%= f.text_field :site_id, class: "form-control" %>
            </div>

            <%= f.hidden_field :original_site_id %>
            <%= f.hidden_field :original_hosting_location %>

            <div class="form-group">
              <%= f.submit "Update Location", class: "btn btn-default" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>

  <div class="<%= current_user.admin? ? "col-sm-7 col-sm-pull-5" : "col-sm-12" %>">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Camps and Events</h3>

        <% @locations.each do |location| %>
          <div class="row location" data-location-tag="<%= location.hex_tag %>">
            <div class='col-md-12' style="margin-top: 15px;">
              <h4>
                <%= location.human_location %>
                <% if current_user.admin %>
                  <small style="float: right; cursor: pointer; position: absolute; bottom: 20px; right: 20px;">
                    <%= link_to "edit", "#_", class: "edit-location",
                                              data: {hosting_location: location.hosting_location, site_id: location.site_id},
                                              style: "padding: 5px; background: #eee;" %>
                  </small>
                <% end %>
              </h4>
            </div>
          </div>

          <% location.events.each do |event| %>
            <div class="row event <%= (current_user.heart_for?(event.event_times.first)) ? "hearted" : "not-hearted" %>">
              <div class='col-md-12'>
                <a href="#_" class="heart-click" event-time-id="<%= event&.event_times.first&.id %>">
                  &hearts;
                </a>
                <%= link_to event do %>
                  <%= event.title %> -
                  <%= abbr_event_days(event) %>
                  <% if event.categories.any? %>
                    <span class='icons'>
                      <%= event.category_emojis.values.join(" ") %>
                    </span>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

</div> <!-- /row -->
