<%= form_with(model: [:admin, camp], id: 'camp_form', local: true) do |form| %>
  <% if camp.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5><%= pluralize(camp.errors.count, "error") %> prohibited this camp from being saved:</h5>
      <ul>
        <% camp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, id: 'camp_name', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, id: 'camp_description', class: 'form-control', rows: 3 %>
  </div>

  <hr>
  <h5>Location Details</h5>
  <%= form.fields_for :location do |location_form| %>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= location_form.label :lat, "Latitude" %>
        <%= location_form.text_field :lat, class: 'form-control' %>
      </div>
      <div class="col-md-6 mb-3">
        <%= location_form.label :lng, "Longitude" %>
        <%= location_form.text_field :lng, class: 'form-control' %>
      </div>
    </div>
    <div class="mb-3">
      <%= location_form.label :camp_site_identifier, "Camp Site Identifier" %>
      <%= location_form.text_field :camp_site_identifier, class: 'form-control' %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%# Cancel button will be added by JS in index.html.erb %>
  </div>
<% end %> 