<div class="row">
  <div class="col-md-12">
    <h3>Edit Camp: <%= @camp.name %></h3>
    <p><%= link_to 'Back to Camps', admin_camps_path, class: 'btn btn-outline-secondary btn-sm' %></p>

    <div class="card mb-3">
      <div class="card-body">
        <%= render 'form', camp: @camp %>
      </div>
    </div>

    <h4>Events at this Camp</h4>
    <%= render 'admin/events_table',
               events:        @current_events,
               empty_message: 'No events are currently associated with this camp.' %>

    <h4 class="mt-4">Past Events</h4>
    <%= render 'admin/events_table',
               events:        @past_events,
               empty_message: 'No past events for this camp.',
               show_year:     true %>
  </div>
</div>
