<%# Flash messages handling %>
<% if notice.present? || alert.present? || flash[:error].present? %>
  <div class="row flash-messages">
    <div class="col-md-12">
      <% if notice.present? %><div class="alert alert-info alert-dismissible fade show" role="alert"><h3 style="border: 0; margin-bottom: 0;"><strong>Notice:</strong> <%= notice %></h3><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div><% end %>
      <% if alert.present? %><div class="alert alert-danger alert-dismissible fade show" role="alert"><h3 style="border: 0; margin-bottom: 0;"><strong>Alert:</strong> <%= alert %></h3><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div><% end %>
      <% if flash[:error].present? %><div class="alert alert-danger alert-dismissible fade show" role="alert"><h3 style="border: 0; margin-bottom: 0;"><strong>Error:</strong> <%= flash[:error] %></h3><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div><% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <%# List of Camps %>
  <div class="col-lg-8 order-lg-2">
    <h3 class='border-bottom-0'>&nbsp;</h3>
    <div class="card">
      <div class="card-body">
        <%= render 'table', camps: @active_camps, table_id: 'camps-table' %>
      </div>
    </div>

    <% if @archived_camps.any? %>
      <h4 class="mt-4">Archived Camps</h4>
      <div class="card">
        <div class="card-body">
          <%= render 'table', camps: @archived_camps, table_id: 'archived-camps-table' %>
        </div>
      </div>
    <% end %>
  </div>

  <%# Form for New/Edit Camp %>
  <div class="col-lg-4 order-lg-1">
    <h3 class='border-bottom-0'>Camps</h3>
    <div id="form-panel" class="card">
      <div class="card-body">
        <h4 id="form-title">New Camp</h4>
        <%= render 'form', camp: @form_camp %>
      </div>
    </div>
  </div>

</div>

 
