<%# Flash messages handling %>
<% if notice.present? || alert.present? || flash[:error].present? %>
  <div class="row">
    <div class="col-md-12">
      <% if notice.present? %><div class="alert alert-info alert-dismissible fade show" role="alert"><h3 style="border: 0; margin-bottom: 0;"><strong>Notice:</strong> <%= notice %></h3><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div><% end %>
      <% if alert.present? %><div class="alert alert-danger alert-dismissible fade show" role="alert"><h3 style="border: 0; margin-bottom: 0;"><strong>Alert:</strong> <%= alert %></h3><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div><% end %>
      <% if flash[:error].present? %><div class="alert alert-danger alert-dismissible fade show" role="alert"><h3 style="border: 0; margin-bottom: 0;"><strong>Error:</strong> <%= flash[:error] %></h3><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div><% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <%# List of Camps %>
  <div class="col-lg-8 order-lg-2">
    <h3 class='border-bottom-0'>&nbsp;</h3>
    <div class="card">
      <div class="card-body">
        <table class="table table-striped" id="camps-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Events</th>
              <th>Site ID</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @camps.each do |camp| %>
              <tr id="camp_<%= camp.id %>">
                <td>
                  <div class="camp-info">
                    <h6 class="mb-1"><%= link_to camp.name, admin_camp_path(camp) %></h6>
                    <% if camp.description.present? %>
                      <p class="mb-0 text-muted small"><%= camp.description %></p>
                    <% end %>
                  </div>
                </td>
                <td>
                  <% event_count = camp.events.size %>
                  <% event_time_count = camp.events.sum { |event| event.event_times.size } %>
                  <%= event_count %> (<%= event_time_count %>)
                </td>
                <td>
                  <%= camp.location&.camp_site_identifier %>
                </td>
                <td>
                  <%= link_to 'Edit', edit_admin_camp_path(camp), class: 'btn btn-xs btn-outline-primary' %>
                  <%= link_to 'Show', admin_camp_path(camp), class: 'btn btn-xs btn-outline-info' %>
                  
                  <% if camp.events.any? %>
                    <span class="btn btn-xs btn-outline-secondary disabled ml-1" title="Cannot delete: camp has associated events.">Destroy</span>
                  <% else %>
                     <%= link_to 'Destroy', admin_camp_path(camp), method: :delete, 
                                data: { confirm: 'Are you sure?' }, 
                                class: 'btn btn-xs btn-outline-danger ml-1' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%# Form for New/Edit Camp %>
  <div class="col-lg-4 order-lg-1">
    <h3 class='border-bottom-0'>Camps</h3>
    <div id="form-panel" class="card">
      <div class="card-body">
        <h4 id="form-title">New Camp</h4>
        <%= render 'form', camp: @form_camp %>
      </div>
    </div>
  </div>

</div>

 