<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <%= link_to "Lakes of Fire #{t(:year)} #{t(:event_name).upcase} What Where When Events", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "#{admin_badge(current_user)} #{current_user.name} ".html_safe, "#_", class: "nav-link name" %>
          </li>
          <!--
          <li class="nav-item">
            <%= link_to "Camps", derived_locations_path, class: "nav-link" %>
          </li>
          -->
        <% end %>

        <li class="nav-item">
          <%= link_to "Privacy", privacy_path, class: "nav-link" %>
        </li>

        <% if current_user && current_user.admin? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle admin-dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "APIs", apis_path, class: "dropdown-item admin-nav-item" %></li>
              <li><%= link_to "Camps", admin_camps_path, class: "dropdown-item admin-nav-item" %></li>
              <li><%= link_to "Departments", admin_departments_path, class: "dropdown-item admin-nav-item" %></li>
              <li><%= link_to "Files", hosted_files_path, class: "dropdown-item admin-nav-item" %></li>
              <li><%= link_to "Locations", admin_locations_path, class: "dropdown-item admin-nav-item" %></li>
              <li><%= link_to "Users", admin_users_path, class: "dropdown-item admin-nav-item" %></li>
            </ul>
          </li>
        <% end %>

        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
