<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>What Where When Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- bootstrap theme: http://bootstrapzero.com/bootstrap-template/google-plus -->

    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">

    <style>
      <% unless I18n.t(:background_image).include?("translation missing") %>
        body{
          background-image: url("<%= I18n.t(:background_image) %>");
        }
      <% end %>

      <% unless I18n.t(:title_color).include?("translation missing") %>
        a.navbar-brand{
          color: <%= I18n.t(:title_color) %>;
        }
      <% end %>

      <% unless I18n.t(:anchor_color).include?("translation missing") %>
        a {color: <%= I18n.t(:anchor_color) %>;}
        a:hover {color: <%= I18n.t(:anchor_color_darker) %>;}
      <% end %>

      .admin-nav-item > a {
        font-weight: bold;
        /* color: #007bff; Example color, adjust as needed */
      }

      .admin-nav-header {
        padding: 15px 15px; /* Match navbar item padding */
        color: #777; /* Example: a muted color */
        font-weight: normal;
      }

    </style>
  </head>
  <body>

    <%= render partial: "layouts/navigation" %>

    <div class="container" id="main">
      <%= yield %>
    </div>
  </body>
</html>
